@import url('http://reset5.googlecode.com/hg/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #ebf0f5;
}

.navigation {
    font-size: 2em;
    height: 38em;
    background-color: #292778;
    overflow: hidden;
}
.nav-ext {
    background-color: #292778;
    height: 3.8em;
    
}
.current-page {
    display: block;
}

.inactive-page {
    display: none;
}

#expenses-chart-div,
#income-chart-div {
    font-size: 5em;
    width: 20em;
    height: 11em;
    color: white;
}

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2%;
}

.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 6%;
    color: #fffff0;
    background-color: #292778;
}

.mainmenu a:hover {
    color: #39b54a;
    font-weight: bolder;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 400px;
}

.submenu a:hover {
    color: #39b54a;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 2s ease-in-out;
}

.header {
    color: #fffff0;
    font-size: 1.25em;
}

.header a {
    float: right;
    margin: 0 2%;
    padding: 0.7%;
}

.header a:hover {
    color: #39b54a;
}

.profile-icon {
    margin: 0 0.5%;
    color: #D0D0D0;
}

.pop-up-div {
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
}

.pop-up-form {
    display: none;
    height: 25em;
    width: 25em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background: white;
}

.home-layout {
    float: none;
    margin: 0 auto;
}

.home-labels {
    width: 100%;
    margin-top: 0.5em;
}

.home-labels,
.last-5-label,
#expense-list,
#income-list {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(175, 186, 189);
    font-size: 1.25em;
    font-weight: 250;
}

.label-pairs {
    color: #231f20;
    font-size: 2.5em;
    font-weight: 200;
    text-transform: uppercase;
}

#balanceLabel {
    font-size: 1.4em;
    color: #9a9aac;
}

#expensesLabel {
    font-size: 1.4em;
    color: #ed1946;
}

#incomeLabel {
    font-size: 1.4em;
    color: #39b54a;
}

.list-last-five-events {
    list-style-type: none;
    font-size: 1.25em;
    max-height: 7em;
    overflow: hidden;
}

.events-list {
    list-style-type: none;
    font-size: 1.25em;
    max-height: 9em;
    overflow: hidden;
}

.expand-list {
    list-style-type: none;
    font-size: 1.25em;
    max-height: 12em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#expense-list::-webkit-scrollbar-track {
    background-color: #ebf0f5;
}

#expense-list::-webkit-scrollbar {
    width: 10px;
    background-color: #ebf0f5;
}

#expense-list::-webkit-scrollbar-thumb {
    background-color: #39b54a;
    border: 2px solid #ebf0f5;
}

#income-list::-webkit-scrollbar-track {
    background-color: #ebf0f5;
}

#income-list::-webkit-scrollbar {
    width: 10px;
    background-color: #ebf0f5;
}

#income-list::-webkit-scrollbar-thumb {
    background-color: #39b54a;
    border: 2px solid #ebf0f5;
}

.view-all-link,
.view-all-income-link {
    text-align: right;
    background: none;
    border: none;
    color: #231f20;
    font-size: 1.1em;
}

.view-all-link:hover,
.view-all-income-link:hover {
    color: #39b54a;
    font-weight: bold;
}

.hide-button,
.hide-income-button {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
}

ul>li:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

#home-graph {
    width: 100%;
    height: 35em;
    margin-top: 0.5em;
}

.home-chart {
    width: 100%;
    height: 30em;
}

#btn-img {
    width: 5em;
    height: 5em;
    border-radius: 3em;
    border-style: none;
    align-content: center;
    position: relative;
    z-index: 4;
}

.list-last-five-events {
    width: 100%;
    margin-top: 0.5em;
}

.comment {
    overflow: hidden;
    height: 1em;
}

.income-color {
    color: #39b54a;
}

.expense-color {
    color: #ed1946;
}

.button-container {
    text-align: center;
    margin-top: 0.5em;
}

.passive {
    background: #39b54a;
}

.clicked {
    background: #39b54a;
    transform: rotate(135deg);
    animation: spin 0.2s normal;
}

.clicked:hover {
    background: #ed1946;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

.form {
    display: none;
    width: 35%;
    padding: 2em;
    background: #ffffff;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form h2 {
    background: #292787;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #39b54a;
    font-size: 1.25em;
    font-weight: 250;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    height: 35px;
}

.form textarea {
    resize: none;
    overflow: hidden;
}

.form input[type="button"] {
    background-color: #39b54a;
    border: 1px solid #39b54a;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    padding: 6px 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
}

.form input[type="button"]:hover {
    background-color: #fff;
    border: 1px solid #39b54a;
    color: #39b54a;
}

.form input[value="Cancel"] {
    background-color: #fff;
    border: 1px solid #39b54a;
    display: inline-block;
    cursor: pointer;
    color: #39b54a;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    padding: 6px 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

.form input[value="Cancel"]:hover {
    background-color: #fff;
    color: #ec1c24;
    border: 1px solid #ec1c24;
}

.tab-panel {
    width: 35%;
    margin: auto;
    margin-top: 5em;
    background: #ebf0f5;
}

.tab-panel button {
    background-color: #ebf0f5;
    color: rgb(0, 0, 0 0.8);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    float: center;
    /* border: #1f1e70; */
    outline: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 49.7%;
}

.tab-panel button:hover {
    background-color: #34c642;
    color: #fff;
}

.tab-panel .active {
    background-color: #34c642;
    color: #fff;
}

.tabcontent {
    display: none;
}

.form.active {
    display: block;
}

.footer-container {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.05);
    /* background-color: #292778;     */
    /* left: 0;
    bottom: 0; */
}

.footer {
margin: 0 2%;
}

.footer a {
    float: right;
    margin: 1% 1% 0.5% 3%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.footer a:hover {
    color: #34c642;
}